html {
  box-sizing: border-box;
  font-size: 13px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: transparent;
}

input {
  display: block;
  width: 100%;
  height: 24px;
  border: none;
  margin-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: var(--vscode-font-family);
  color: var(--vscode-input-foreground);
  outline-color: var(--vscode-input-border);
  background-color: var(--vscode-input-background);
}

button {
  border: none;
  width: 100%;
  height: 26px;
  margin-bottom: 10px;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  text-align: center;
  outline: 1px solid transparent;
  outline-offset: 2px !important;
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
}

button:hover {
  cursor: pointer;
  background: var(--vscode-button-hoverBackground);
}

button:focus {
  outline-color: var(--vscode-focusBorder);
}

button.secondary {
  color: var(--vscode-button-secondaryForeground);
  background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
  background: var(--vscode-button-secondaryHoverBackground);
}

.loading-page {
  width: 50px;
  height: 40px;
  margin: 60px auto;
  text-align: center;
}

.loading-page span {
  width: 5px;
  height: 100%;
  margin-right: 4px;
  display: inline-block;
  background:#2b6298;
  animation: loading 1.2s infinite ease-in-out;
  -webkit-animation: loading 1.2s infinite ease-in-out;
}

.loading-page >span:nth-child(2) {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.loading-page >span:nth-child(3) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loading-page >span:nth-child(4) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.loading-page >span:nth-child(5) {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

@keyframes loading {
  0% { transform: scaleY(0.4); }
  25% { transform: scaleY(1.0); }
  50% { transform: scaleY(0.4); }
  75% { transform: scaleY(0.4); }
  100% { transform: scaleY(0.4); }
}

@-webkit-keyframes loading {
  0% { transform: scaleY(0.4); }
  25% { transform: scaleY(1.0); }
  50% { transform: scaleY(0.4); }
  75% { transform: scaleY(0.4); }
  100% { transform: scaleY(0.4); }
}

.preview-page, .edit-page {
  display: none;
}

.container {
  padding: 10px;
}

.container .token-invalid {
  display: none;
}

.page-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}

.description div {
  margin-bottom: 5px;
}

.description div:last-child {
  margin-bottom: 0;
}

.token-link {
  margin-bottom: 10px;
}
