.github1s-authorizing-mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .52);
}

.github1s-overlay-visible {
	overflow: hidden;
}

.github1s-overlay-visible .monaco-workbench {
	filter: blur(2px);
}

.github1s-authorizing-dialog {
	color: #ccc;
	font-family: Inter, sans-serif;
	width: 650px;
	height: 400px;
	background-color: #101010;
	border-radius: 8px;
	border: 1px solid #666;
	text-align: center;
	position: relative;
}

.github1s-dialog-close-button:hover {
	color: #3794ff;
}

.github1s-dialog-title {
	font-size: 23px;
    margin-top: 40px;
}

.github1s-dialog-description {
	font-size: 16px;
    margin-top: 24px;
}

.github1s-dialog-authorizing-area {
	margin-top: 36px;
    display: inline-block;
    text-align: left;
}

.github1s-dialog-documentation-area {
	margin-top: 24px;
	font-size: 13px;
}

.github1s-dialog-documentation-link {
	color: #3794ff;
}

.github1s-dialog-authorizing-button {
	height: 40px;
    width: 300px;
    outline: none;
	display: flex;
	align-items: center;
    justify-content: center;
    background-color: #fff;
    border-style: none;
    border-radius: 4px;
    font-size: 16px;
	cursor: pointer;
	transition: all .1s;
}

.github1s-github-authorizing-logo {
	height: 24px;
	margin-right: 8px;
}

.github1s-dialog-authorizing-button:hover {
	transform: scale(1.05);
}

.github1s-manual-input-link {
	font-size: 12px;
	color: #3794ff;
	margin-top: 8px;
	cursor: pointer;
}
