.authentication-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authentication-page .page-notice {
  font-size: 16px;
  margin-bottom: 24px;
  font-weight: bold;
  color: #cca700;
  max-width: 520px;
  text-align: center;
}

.authentication-form .form-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
  color: var(--vscode-button-foreground);
}

.authentication-form .form-content {
  width: 320px;
}

.authentication-features {
  list-style: none;
	font-size: 14px;
	padding: 0;
	margin: 0 0 32px;
}

.authentication-features .feature-item {
	white-space: nowrap;
	margin-bottom: 4px;
}

.authentication-features .feature-item:last-child {
	margin-bottom: 0;
}

.authentication-features li.feature-item a {
	color: var(--vscode-foreground);
	text-decoration: none;
}

.authentication-features li.feature-item a.link:hover {
	color: #40a9ff;
}

.authentication-features li.feature-item a.link:active {
	color: #096dd9;
}

.authentication-features .feature-item::before {
	content: '✓';
	color: #32d74b;
	margin-right: 4px;
}

.authentication-features .feature-item {
	white-space: nowrap;
	line-height: 20px;
}

.github1s-authorizing-dialog li.feature-item a {
	color: var(--vscode-foreground);
	text-decoration: none;
}

.authentication-button {
  width: 100%;
  height: 40px;
  outline: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 4px;
  border: 1px solid var(--vscode-foreground);
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.1s;
  cursor: pointer;
  color: #000;
}

.authentication-button:not([disabled]):hover {
  transform: scale(1.03);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 2px 8px;
}

.authentication-button:not([disabled]):active {
  transform: scale(0.98);
}

.authentication-token .token-input-line {
  display: flex;
  margin-bottom: 6px;
}

.authentication-token .token-input-line .vscode-input {
  flex: 1;
  margin-right: 8px;
}

.split-line {
  height: 0;
  border: 1px solid var(--vscode-foreground);
  margin: 28px 0;
  position: relative;
}

.split-line::after {
  content: 'OR';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border: 2px solid var(--vscode-foreground);
  padding: 4px 16px;
  border-radius: 8px;
  background-color: var(--vscode-editor-background);
  font-size: 12px;
  font-weight: bold;
}

.authentication-footer {
  margin-top: 24px;
  color: var(--vscode-foreground);
  width: 320px;
}

.authentication-footer > div:first-child {
  margin-bottom: 4px;
}

.authentication-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  margin-top: 60px;
}

.authentication-button[disabled] .auth-button-logo {
  opacity: .5;
}

.auth-button-logo {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.github-logo {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="32" width="32"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>');
}

.gitlab-logo {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 24" height="24" width="25"><path fill="%23E24329" d="m24.507 9.5-.034-.09L21.082.562a.896.896 0 0 0-1.694.091l-2.29 7.01H7.825L5.535.653a.898.898 0 0 0-1.694-.09L.451 9.411.416 9.5a6.297 6.297 0 0 0 2.09 7.278l.012.01.03.022 5.16 3.867 2.56 1.935 1.554 1.176a1.051 1.051 0 0 0 1.268 0l1.555-1.176 2.56-1.935 5.197-3.89.014-.01A6.297 6.297 0 0 0 24.507 9.5Z"></path><path fill="%23FC6D26" d="m24.507 9.5-.034-.09a11.44 11.44 0 0 0-4.56 2.051l-7.447 5.632 4.742 3.584 5.197-3.89.014-.01A6.297 6.297 0 0 0 24.507 9.5Z"></path><path fill="%23FCA326" d="m7.707 20.677 2.56 1.935 1.555 1.176a1.051 1.051 0 0 0 1.268 0l1.555-1.176 2.56-1.935-4.743-3.584-4.755 3.584Z"></path><path fill="%23FC6D26" d="M5.01 11.461a11.43 11.43 0 0 0-4.56-2.05L.416 9.5a6.297 6.297 0 0 0 2.09 7.278l.012.01.03.022 5.16 3.867 4.745-3.584-7.444-5.632Z"></path></svg>');
}

.authentication-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-title {
  width: 320px;
  font-size: 24px;
  margin-bottom: 32px;
  color: var(--vscode-button-foreground);
}

.token-status {
  display: flex;
  align-items: center;
  width: 320px;
  margin-bottom: 8px;
}

.token-status .refresh-button {
	cursor: pointer;
  margin-left: 6px;
}

.token-status .refresh-button:hover {
  color: #3794ff;
}

.token-status .refresh-button:active {
  color: #094771;
}

.login-text > span:first-child {
  margin-right: 4px;
}

.user-avatar {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-right: 4px;
  vertical-align: bottom;
  border-radius: 50%;
  background-color: #ccc;
}

.rate-limit-info {
  width: 320px;
  list-style: none;
  padding-left: 0;
}

.rate-limit-info li {
  margin-bottom: 8px;
}

.token-text {
  width: 320px;
  margin-bottom: 8px;
}

.token-text.token-valid {
  color: #73c991;
}

.token-text.token-invalid {
  color: #f88070;
}

.token-operations {
  width: 320px;
  margin-top: 12px;
}

.token-operations > * {
  width: 240px;
}

