.vscode-input {
  margin-bottom: 10px;
}

.vscode-button {
  margin-bottom: 10px;
}

#app {
  padding: 10px;
}

.flex-line {
  display: flex;
}

.flex-line > * {
  flex: 1;
}

.page-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.page-description {
  font-size: 12px;
	margin-bottom: 12px;
}

.description div:last-child {
	margin-bottom: 0;
}

.content-block {
  margin-bottom: 8px;
}

.content-block-title {
  font-weight: normal;
	margin-bottom: 8px;
}

.input-token-block {
	margin-bottom: 8px;
}

.input-token-block-title {
  font-weight: normal;
	margin-bottom: 8px;
}

.create-token-link {
	margin-bottom: 10px;
}

.page-footer {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.page-footer input {
 margin-right: 4px;
 margin-left: 0;
}

.login-text > span:first-child {
  margin-right: 4px;
}

.user-avatar {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-right: 4px;
  vertical-align: bottom;
  border-radius: 50%;
  background-color: #ccc;
}

